* {
  margin: 0;
  color: white;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  /* background: rgb(15, 6, 24); */
  background: linear-gradient(322deg,
      rgba(15, 6, 24, 1) 20%,
      rgba(46, 19, 78, 1) 100%);
  color: white;
  font-size: .9em;
  font-family: Mukta, sans-serif;
  overflow-y: hidden;
}

.App {
  margin-top: 100px;
  font-family: sans-serif;
  height: 70vh;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  height: 100%;
  background-color: #d8b5ff;
  list-style: none;
  overflow-y: scroll;
  border-radius: 10px;
}

.rowContainer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.row {
  width: 100%;
  background-color: #3c1865;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  display: flex;
  padding: 0 10px;
}

@media screen and (hover: hover) {
  .container::-webkit-scrollbar {
    width: .8em;
    height: .7em;
    background-color: #361758;
    border-radius: 1em;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: #682ca8;
    border: 2px solid #361758;
    border-radius: 1em;
  }

  .container::-webkit-scrollbar-thumb:hover {
    background-color: #7c35c9;
  }

  .container::-webkit-scrollbar-thumb:active {
    background-color: #8e3de4;
  }

}