* {
  margin: 0;
  color: white;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background: rgb(15, 6, 24);
  background: linear-gradient(322deg,
      rgba(15, 6, 24, 1) 20%,
      rgba(46, 19, 78, 1) 100%);
  color: white;
  font-size: .9em;
  font-family: Mukta, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-block-start: 1em;
  align-items: center;
  gap: .2em;
}

@media screen and (min-width: 768px) {
  #root {
    gap: .8em;
  }

  body {
    font-size: 1.1em;
  }
}


.container {
  width: 40%;
  min-width: 350px;
  height: 700px;
  box-shadow: 4px 8px 32px #0003;
  display: flex;
  flex-direction: column;
  border-radius: 1.2em;
  overflow-y: auto;
}



.items {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}



.header,
.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #6E2FB5;
  box-shadow: 2px 2px 8px #0004;
  font-size: 1em;
  position: sticky;
  padding: 1.3em;
  overflow: hidden;
  margin-bottom: 1.3em;
  top: 0;
  z-index: 2;
}

.header h3 {
  width: 5em;
  min-width: 5em;
  max-width: 5em;
  text-align: center;
  white-space: nowrap;
}

.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.3em;
}

.item {
  width: 5em;
  min-width: 5em;
  max-width: 5em;
  text-align: center;
  white-space: nowrap;
}



@media screen and (hover: hover) {
  .container::-webkit-scrollbar {
    width: .8em;
    height: .7em;
    background-color: #361758;
    border-radius: 1em;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: #682ca8;
    border: 2px solid #361758;
    border-radius: 1em;
  }

  .container::-webkit-scrollbar-thumb:hover {
    background-color: #7c35c9;
  }

  .container::-webkit-scrollbar-thumb:active {
    background-color: #8e3de4;
  }

}